.wonderous-single-block {

}
.wonderous-block-table {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1496f2+0,2fbc3b+28,f26414+74,f2320a+100 */
	background: rgb(20,150,242); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgb(20,150,242) 0%, rgb(47,188,59) 28%, rgb(242,100,20) 74%, rgb(242,50,10) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgb(20,150,242) 0%,rgb(47,188,59) 28%,rgb(242,100,20) 74%,rgb(242,50,10) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgb(20,150,242) 0%,rgb(47,188,59) 28%,rgb(242,100,20) 74%,rgb(242,50,10) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1496f2', endColorstr='#f2320a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}