.wonderous-wrap {
  text-align: center;
}

.wonderous-header {
  background-color: rgb(20, 150, 242);
  padding: 4% 20px;
}
.wonderous-logo {
  display: inline-block;
  margin-right: 45px;
  animation: wonderous-logo-spin infinite 49s linear;
  height: 202px;
  border-radius: 32px;
  box-shadow: 6px 6px 12px rgba(242, 50, 10, .5);
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: rgb(242, 100, 20);
  font-size: 4.5rem;
  font-style: italic;
  display: inline-block;
  vertical-align: top;
  margin: 60px 0 0 0;
  padding: 12px 24px;
  background-color: rgba(214, 211, 190, .6);
  border-radius: 20px;
}
h2 {
  font-weight: 300;
  font-size: 2.3rem;
}
.wonderous-nav {
  background-color: rgba(47, 188, 59, .6);
  padding: 12px 0 10px 0;
}

a {
  text-decoration: none;
}
.wonderous-link {
  padding: 0 40px;
  font-size: 1.4rem;
  color: rgb(242, 100, 20);
  transition: .25s;
}
.wonderous-link:hover {
  color: rgb(20, 150, 242);
  font-weight: 600;
}


.wonderous-content {
  padding: 7px 0;
  background-color: rgb(214, 211, 190);
  overflow: hidden;
}
.wonderous-lead-text {
  font-style: italic;
  font-weight: 300;
}



@keyframes wonderous-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
